/*.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}*/

.taskTitleInputError {
    border: 2px solid red;
    outline: none;
}

.task {
    font-weight: bold;
}

.task-is-done {
    opacity: 0.5;
}

.btn-selected {
    background-color: dodgerblue;
    color: white;
    border: none;
}